<app-header></app-header>

<br><br><br><br>
<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('./assets/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Acerca de
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nuestra Historia
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        "Jolie Jolie" toma su nombre del francés, donde "jolie" significa hermosa. La belleza de San
                        Andrés se refleja en cada hilo y costura de sus prendas. Inspirada en los colores de los
                        arrecifes de coral y la serenidad de las playas de arena blanca, cada pieza de ropa cuenta una
                        historia de la isla.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        El equipo creativo de "Jolie Jolie" se sumerge en la cultura y la naturaleza de San Andrés para
                        crear diseños que capturan la frescura y la alegría del Caribe. Los estampados coloridos y los
                        cortes elegantes reflejan la vida vibrante de la isla, desde los mercados locales hasta las
                        noches llenas de música y baile.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Viste con elegancia, abraza la belleza natural de San Andrés y sé parte de la historia de "Jolie
                        Jolie". Una marca que celebra la simplicidad y la sofisticación de la isla, llevando consigo el
                        espíritu cálido y acogedor del Caribe.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="https://sanandres.travel/uploads/0000/2/2023/08/19/img-0317.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nuestra Mision
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        En "Jolie Jolie", nuestra visión es crear una conexión única entre la elegancia y la esencia
                        relajada de San Andrés. Nos esforzamos por ser más que una marca de ropa; aspiramos a ser un
                        vínculo emocional con la belleza y la autenticidad de la isla que amamos.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            La creatividad es simplemente conectar cosas. Cuando preguntas a las personas creativas cómo
                            hicieron algo, se sienten un poco culpables porque en realidad no lo hicieron, simplemente
                            vieron algo. Les pareció obvio después de un rato.
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Job’s <br>Cofundador y presidente ejecutivo de Apple​
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="https://cdn.yate.co/img/blog/2023/11/playa-de-san-andres-islas-npj.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>