<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 p-b-25">
                <h4 class="stext-301 cl0 p-b-30">
                    Categorias
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
                            Nuestros productos
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
                            Blusas flecos
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
                            Blusas crocs
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
                            Camisetas
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/products" class="stext-107 cl7 hov-cl1 trans-04">
                            Gorros
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-25">
                <h4 class="stext-301 cl0 p-b-30">
                    Ayuda
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Mis compras
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Contactanos
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Terminos y condiciones
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-25">
                <h4 class="stext-301 cl0 p-b-30">
                    PONERSE EN CONTACTO
                </h4>

                <p class="stext-107 cl7 size-201">
                    ¿Alguna pregunta? Háganos saber en nuestra sección de contacto o en nuestras redes sociales.
                    Dar clic en los iconos para ir a nuestras redes.
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-whatsapp"></i>
                    </a>

                    <a href="mailto:admin@joliejolie.com" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="p-t-10">
            <h5 style="color: azure;" class="d-flex justify-content-center pb-3">Nuestros medios de pago</h5>
            <div class="flex-c-m flex-w p-b-18">
                <a href="https://www.mercadopago.com.co/" class="m-all-1">
                    <img src="https://http2.mlstatic.com/frontend-assets/home-landing/logo-mercadopago.jpg" alt="ICON-PAY" height="23px" width="35px">
                </a>

                <a href="https://www.visa.com.co/" class="m-all-1">
                    <img src="https://aerolatinnews.com/wp-content/uploads/2017/11/visa.png" alt="ICON-PAY" height="23px" width="35px">
                </a>

                <a href="https://www.mastercard.com.co/es-co.html" class="m-all-1">
                    <img src="https://www.delitosfinancieros.org/wp-content/uploads/2017/10/mastercard_bank_money_card_20426_2048x1240.jpg" alt="ICON-PAY" height="23px" width="35px">
                </a>

                <a href="https://www.americanexpress.com/es-co/network/" class="m-all-1">
                    <img src="https://mejoresapuestas.com/mx/wp-content/uploads/sites/4/2022/03/american-express.jpg" alt="ICON-PAY" height="23px" width="35px">
                </a>

            </div>

            <p class="stext-107 cl6 txt-center">

                Desarrollado por grupo # del PPI 2023-02<br>


                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; Made with <a href="https://colorlib.com" target="_blank">Colorlib</a>
                &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>


            </p>
        </div>
    </div>
</footer>