<app-header></app-header>
<br><br><br><br><br>
<div class="container">
    <h2>Lista de compras</h2>
    <p>Es la lista donde se encuentra todas mis compras:</p>
    <div class="d-flex justify-content-between">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="text" placeholder="Buscar" aria-label="Search" name="search"
                [(ngModel)]="searchText" autocomplete="off">
        </form>
    </div><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Cantidad productos</th>
                <th>Valor unidad</th>
                <th>Valor total</th>
                <th>Direccion</th>
                <th>Metodo de pago</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let compra of compras | paginate: {itemsPerPage: 8, currentPage: page} | filter:searchText">
                <td class="ps-0 sorting_1">
                    <div class="d-flex align-items-center">
                        <img src="{{compra.imagen}}" alt="" class="img-4by3-sm rounded-3">
                        <div class="ms-3">
                            <h5 class="mb-0">
                                {{compra.nombre_producto}}
                            </h5>
                            <span class="text-warning">
                                <i class="mdi mdi-star"> </i>
                                <i class="mdi mdi-star ms-n1"> </i>
                                <i class="mdi mdi-star ms-n1"> </i>
                                <i class="mdi mdi-star ms-n1"> </i>
                                <i class="mdi mdi-star ms-n1"> </i>
                            </span>
                        </div>
                    </div>
                </td>
                <td *ngIf="compra.estado == 0">
                    <span class="badge badge-danger-soft">Error en el pago</span>
                </td>
                <td *ngIf="compra.estado == 1">
                    <span class="badge badge-success-soft">Pago exitoso</span>
                </td>
                <td>{{compra.fecha.slice(0, 10)}}</td>
                <td>{{compra.cantidad}}</td>
                <td>${{compra.valor_unidad}}</td>
                <td>${{compra.valor_total}}</td>
                <td>{{compra.direccion}}</td>
                <td>{{compra.metodo_pago}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
        nextLabel="Siguiente"></pagination-controls>
</div>
<br>

<app-footer></app-footer>