<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <!-- Card -->
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <br>
                        <h3 class="mb-6"><strong>Cambiar contraseña</strong></h3>
                    </div>
                    <!-- Form -->
                    <form class="row g-3" [formGroup]="recoverPasswordForm">
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label"><strong>contraseña actual:</strong></label>
                            <input type="password" class="form-control" formControlName="password_actual" required autocomplete="off" [(ngModel)]="password_actual">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label"><strong>contraseña nueva:</strong></label>
                            <input type="password" class="form-control" formControlName="password_nueva" required autocomplete="off" [(ngModel)]="password_nueva">
                        </div>
                        <!-- Button -->
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary" (click)="cambiarContrasenia()" [disabled]="recoverPasswordForm.invalid">
                                Cambiar contraseña
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>